rime-out
ss-out
*.pyc
Icon*
*.swp
.DS_Store
Thumbs.db
*~
*.out
target
testlib.h
.venv/
.python-version
requirements.lock
requirements-dev.lock
!common/testlib.h
*.lock

!*/tests/*.out
